<h1>Create a pad</h1>

<form class="form" action="" method="get">
    {% include '@molecules/input_group.twig' with {name: "name", title: "Pad name", type: "text"} %}
    {% include '@molecules/select_group.twig' with {name: "name", title: "Choose a type"} %}
    {% include '@molecules/select_group.twig' with {name: "name", title: "Choose a second type"} %}
    <div class="input-group">
        {% include '@atoms/button.twig' with {title: "Create", type: "primary"} %}
    </div>
</form>
