{% extends '@templates/base.twig' %}

{% block content %}
    <div class="page__index">
        <div class="page__texts">
            {% include '@organisms/keyword_selection_results.twig' %}
        </div>
    </div>
{% endblock %}

{% block panel %}
    <div class="page__keywords">
        {% include '@organisms/keyword_list.twig' %}
    </div>
{% endblock %}
      
