{% extends '@templates/base.twig' %}

{% block content %}
    <div class="form-wrapper">
        <h1>Se connecter</h1>

        <form class="form">
            {% include '@molecules/input_group.twig' with {title: "Username", name: "username", type: "text"} %}
            {% include '@molecules/input_group.twig' with {title: "Password", name: "password", type: "password"} %}
            <div class="input-group">
                {% include '@atoms/button.twig' with {title: "Se connecter", type: "primary"} %}
            </div>
            <p class="form__info"><a href="">Mot de passe oublié ?</a></p>
        </form>
    </div>
{% endblock %}
