{% extends '@templates/base.twig' %}

{% block content %}
    <div class="form-wrapper">
        <h1>Enter new password</h1>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

        <form action="" method="post">
            {% include '@molecules/input_group.twig' with {name: "password", title: "New password", type: "password"} %}
            {% include '@molecules/input_group.twig' with {name: "password_2", title: "Confirm password", type: "password"} %}

            <div class="input-group">
                {% include '@atoms/button.twig' with {title: "Change my password"}%}
            </div>
        </form>
    </div>
{% endblock %}
