{% extends '@templates/base.twig' %}

{% block content %}
    <div class="form-wrapper">
        <h1>Password reset complete</h1>
        <p>Your password has been set. You may go ahead and log in now.</p>

        <form action="" method="post">
            <div class="input-group">
                {% include '@atoms/button.twig' with {title: "Log in"}%}
            </div>
        </form>
    </div>
{% endblock %}
