<select class="select" id="title" name="{{ name }}">
    <option value="diary">diary</option>
    <option value="manifesto">manifesto</option>
    <option value="report">report</option>
    <option value="scribble">scribble</option>
    <option value="sticky">sticky</option>
    <option value="draft">draft</option>
    <option value="note">note</option>
    <option value="sticky-note">sticky note</option>
    <option value="memo">memo</option>
    <option value="meeting-notes">meeting notes</option>
    <option value="transcript">transcript</option>
    <option value="letter">letter</option>
    <option value="message">message</option>
    <option value="document">document</option>
    <option value="book">book</option>
    <option value="collection">collection</option>
    <option value="library">library</option>
    <option value="archive">archive</option>
    <option value="drawing">drawing</option>
    <option value="list">list</option>
    <option value="poetry">poetry</option>
    <option value="tutorial">tutorial</option>
    <option value="theory">theory</option>
    <option value="litterature">litterature</option>
    <option value="fable">fable</option>
    <option value="fiction">fiction</option>
    <option value="nonfiction">nonfiction</option>
    <option value="manual">manual</option>
    <option value="score">score</option>

</select>
