@font-face {
    font-family: 'apass';
    src: url('../fonts/apass-webfont.woff2') format('woff2'), url('../fonts/apass-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman10';
    src: url('../fonts/lmroman10-regular-webfont.woff2') format('woff2'), url('../fonts/lmroman10-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman10';
    src: url('../fonts/lmroman10-italic-webfont.woff2') format('woff2'), url('../fonts/lmroman10-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'hk_grotesk';
    src: url('../fonts/hkgrotesk-medium-webfont.woff2') format('woff2'), url('../fonts/hkgrotesk-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'hk_grotesk';
    src: url('../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'), url('../fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Moche';
    src: url('../fonts/Moche-Regular.woff2') format('woff2'), url('../fonts/Moche-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Moche';
    src: url('../fonts/Moche-Bold.woff2') format('woff2'), url('../fonts/Moche-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Punknova';
    src: url('../fonts/PunkNova.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoEmoji.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
