/* print layout */
@page {
    size: 210mm 297mm;
    margin-bottom: 65pt;
    margin-top: 52pt;
    margin-left: 39pt;
    margin-right: 65pt;

    /* background-image: linear-gradient(to bottom, cyan 1px, transparent 1px); */
    /* background-size: 100vw 12pt; */
    /* background-position: 0pt 9pt; */

}

body {
    /* allows for background colors printing */
    background-color: transparent;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white;

    width: calc(595pt - 39pt - 65pt);

    font-family: 'Moche';
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 500;

    /* background-image: linear-gradient(to bottom, cyan 1px, transparent 1px); */
    /* background-size: 100vw 12pt; */
    /* background-position: 0pt 9pt; */
}
a { 
    text-decoration: inherit;
    color: inherit; 
}

em { font-style: italic; }


/* extra resets */

.page__panel,
.switch-group,
.page__header { display: none; }

.page {
    font-family: 'latin_modern_roman10';
}

/* .article__header { */

/* page-break-after: always; } */

.article__header .article__title,
.article__header .article__authors {
	font-size: 24pt;
	/* padding-left: 100pt; */
}

/* .article__header .article__title { */
/* 	margin-top: 120pt; */
/* } */

.article__header .article__title {
    font-weight: normal;
    text-align: center;
}

/* .article__header img { */
/*     display: block; */
/*     margin-top: 40mm; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     width: 130mm; */
/* } */

.article {
    column-count: 2;
    column-gap: 24pt;
    flex: 2;

    font-size: 9pt;
    line-height: 12pt;

    letter-spacing: -0.2px;
}

.article__meta {
    font-family: 'Moche';
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 1.2em;
}

.article__title {
    margin-top: 1em;
    margin-bottom: .2em;
    font-size: 2.2em;
    line-height: 1.2em;
    font-family: 'Moche';
    font-weight: normal;
}

.article__body h2 {
    margin-top: 0.2em;
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: 'Moche';
    font-weight: normal;
}

.article__body h3 {
    font-size: 1em;
    font-family: 'Moche';
}

.article__body hr {
    height: 12pt;
    margin: 0;
    border: none
}

.article__body p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.article__body p + p { 
    text-indent: 12pt; 
    margin-bottom: 1.2em;
}

.article__body h1,
.article__body h2,
.article__body h3,
.article__body h4,
.article__body h5 {
    font-weight: bold;
    margin-top: 24pt;
    margin-bottom: 12pt;
    position: relative;
    page-break-inside: avoid;
}

.article__body h1:first-child,
.article__body h2:first-child,
.article__body h3:first-child,
.article__body h4:first-child,
.article__body h5:first-child { margin-top: 0; }

.article__body h1::after,
.article__body h2::after,
.article__body h3::after,
.article__body h4::after,
.article__body h5::after {
    content: "";
    display: block;
    height: 48pt;
    margin-bottom: -48pt;
}

.article__body figure {
    margin-top: 24pt;
    margin-bottom: 24pt;
    max-width: 100%;
    page-break-inside: avoid;
}

.article__body img { 
    width: 100%; 
    margin: auto; 
    object-fit: contain; 
    display: block; 
}

.article__body figcaption {
    box-sizing: border-box;
    margin-left: 25%;
    margin-top: 6pt;
    font-size: 8pt;
    line-height: 10pt;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
	font-family : 'Compagnon';
}
.article__body li::before {
    content: "—";
}
