<li class="node node--file">
    <a data-uid="first_test.md" href="{{ routes.padRead }}">
        {{ pad.title }}{% if pad.is_public %} (public){% endif %}
    </a>

    <div class="node__actions">
        {% if pad.is_public %}
        <a href="{{ routes.padUnpublish }}" class="button button--private"><span>make private</span></a>
        {% else  %}
        <a href="{{ routes.padPublish }}" class="button button--public"><span>make public</span></a>
        {% endif %}
        <a href="{{ routes.padRename }}" class="button button--rename"><span>rename</span></a>
        <a href="{{ routes.padDelete }}" class="button button--delete"><span>delete</span></a>
    </div>
</li>
