<header class="article__header">
    <h1 class="article__title">Other Geometries</h1>
    <p class="article__meta">With Milena and Klaus.<br>#sound, #theatre, #performance</p>
    <!-- <dl class="article__meta"> -->
    <!--     <dt>Authors</dt> -->
    <!--     <dt>Milena</dt> -->
    <!--     <dt>Klaus</dt> -->

    <!--     <dt>Tags</dt> -->
    <!--     <dt>sound</dt> -->
    <!--     <dt>theatre</dt> -->
    <!--     <dt>performance</dt> -->
    <!-- </dl> -->
</header>
