<article class="cheatsheet">
    <h1>Document header</h1>
    <p>To work properly, it is necessary to fill in a certain amount of information related to the edited text. The beginning of the pad is thus composed of a series of keys and values.</p>
    <pre><code>Title: Looming Score
Date: 2019-09-16
Authors: Lilia
    Sina
Types: draft
    </code></pre>
    <dl>
        <dt>Title</dt>
        <dd>Decide here for a proper title. This is the one that will appear in various listings</dd>
        <dt>Date</dt>
        <dd>An ISO formatted date string, like <code>2019-03-22</code></dd>
        <dt>Authors</dt>
        <dd>Write the name(s) of the main writer(s) of the pad or name of the author of the text if it is an existing text.</dd>
        <dt>Type</dt>
        <dd>Pick here one or more words of the type list: <code>report</code>, <code>scribble</code>, <code>note</code>, <code>sticky</code>, <code>note</code>, <code>draft</code>, <code>memo</code>, <code>meeting, notes</code>, <code>report</code>,<code>transcript</code>, <code>letter</code>, <code>message</code>, <code>document</code>, <code>book</code>, <code>collection</code>, <code>library</code>, <code>archive</code>, <code>drawing</code>, <code>list</code>, <code>poetry</code>, <code>diary</code>,<code>manifesto</code>, <code>tutorial</code>, <code>theory</code>, <code>manifesto</code>, <code>litterature</code>, <code>fable</code>, <code>fiction</code>, <code>nonfiction</code>, <code>manual</code>, <code>score</code>.</dd>
    </dl>
    <h1>Body</h1>
    <p>Markdown is a set of writing conventions that allows you to easily structure your writings, a kind of HTML shortcut.</p>
    <h2>New paragraph</h2>
    <pre><code>Jump one line

to start a new paragraph
    </code></pre>
    <h2>Titles</h2>
    <pre><code># Header 1
## Header 2
### Header 3
    </code></pre>
    <h2>Emphasis</h2>
    <pre><code>*italic* **bold**
    </code></pre>
    <h2>Links</h2>
    <p>Online :</p>
    <pre><code>[example](http://url.com/"something")
    </code></pre>
    <p>Internal :</p>
    <pre><code>[example](page-name.md)
    </code></pre>
    <h2>Pictures, sounds and videos</h2>
    <p>— Import it with the media import button.</p>
    <p>— Show online pictures (titles are optional):</p>
    <pre><code>![alt text](url "Titre")
    </code></pre>
    <p>— Embed sounds and videos</p>
    <pre><code>Paste your PeerTube, YouTube, Vimeo or Soundcloud share embed link.
    </code></pre>
    <h2>Blockquotes</h2>
    <p>Sister Corita Kent rule #1:</p>
    <pre><code>&gt; Find a place you trust, and then try trusting it for awhile.
    </code></pre>
    <p>Blockquotes can be nested (a blockquote in a blocquote) like this:</p>
    <pre><code>&gt; This is the first lever of quoting.
&gt;
&gt; &gt; This is nested blockquote.
    </code></pre>
    <h2>Codes</h2>
    <pre><code>  Appuyez sur la touche `&lt;Ctrl&gt;`
    </code></pre>
    <h2>Horizontal rules</h2>
    <pre><code>  Minimum three asterisks  :

      * * *
    </code></pre>
    <h1>Lists</h1>
    <p>Ordered, without paragraphs:</p>
    <pre><code>1.  garlic;
2.  oregano
    </code></pre>
    <p>Without order, with paragraphs :</p>
    <pre><code>* funk;
* grindcore.
    </code></pre>
    <p>List markers must be followed by one or more spaces or a tab.</p>
    <h1>More</h1>
    <p>To learn more about markdown syntax please visit  <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">the markdown cheatsheet of Adam Pritchard</a></p>
</article>
