<div class="switch">
    <span class="switch__label">view</span>

    <ul class="switch__modes">
        <li class="switch__mode {% if mode == "public" %}active{% endif %}"><a href="#">public</a></li>
        <li class="switch__mode {% if mode == "all" %}active{% endif %}"><a href="#">all pads</a></li>
    </ul>
</div>
