<header class="header">
    <div class="header__logo">
        <p class="logo__intro"><a href="{{ routes.index }}">a.pass.kitchen</a> is digital platform to support the researchers in a process of exchange by enabling collaborative documentation and discussion. <a href="{{ routes.padRead }}">Read more</a></p>
    </div>

    <div class="header__user">
        {% include '@organisms/user_menu.twig' %}
    </div>
</header>
