{% for key, value in texts %}
<div class="texts">
    <h2 class="texts__key">{{ key }}</h2>

    {% for text in value %}
    {% include '@molecules/article_entry.twig' %}
    {% endfor %}
    </ol>
</div>
{% endfor %}
