<ul class="index">
    {% for letter, value in keyword_list %}
        <li class="index__sublist"><span class="index__letter">{{ letter }}</span>
          <ul class="index__keywords">
          {% for entry in value  %}
              <li><a class="index__keyword js-filter" data-keyword="{{ entry.keyword }}" data-href="#{{ entry.keyword }}">{{ entry.keyword }}</a>
                  <span class="index__count">{{ entry.number }}</span></li>
          {% endfor %}
          </ul>
        </li>
    {% endfor %}
</ul>
