<div class="switch">
    <ul class="switch__modes">
        <li class="switch__mode{% if mode == "read" %} active{% endif %}"><a href="{{ routes.padRead }}">read</a></li>
        <li class="switch__mode{% if mode == "write" %} active{% endif %}"><a href="{{ routes.padWrite }}">write</a></li>
    </ul>
</div>
