<div class="article__body">
    <p>Aan-en-On-Af-Hankelijkheid So-and-Sovereignity Κυριαρχία.λ.π “Maybe it is not about replacing one term by another, but to find ways to cut diagonally through them” (Martino)</p>
<p>Affective Infrastructures Gevoelige infrastructuren Infraestructuras Afectivas Infraestructuras Afectivas Infrastructures affectives<br />
Infrastructuri afective Υποδομές που μεριμνούν “What remains for our pedagogy of unlearning is to build affective infrastructures that admit the work of desire as the work of an aspirational ambivalence.” (Lauren Berlant)</p>
<p>Affirmative Technologies Bejahende (affirmative) Technologien Bevestigingstechnologie / Bekrachtigingstechnologie Technologies affirmatives Tecnologias Afirmativas Tecnologías Afirmativas Tehnologii Afirmative Καταφατικές (ως προς το σύστημα) Τεχνολογίες Technologies that implement affirmative ethics. “Calling for hybridized poly-lingualism and creolization on a global scale is an affirmative answer to the coercive mono-culturalism imposed by the colonial and imperial powers. The ethics of productive affirmation is a different way of handling the issue of how to deal with pain and traumas and to operate in situations which are extreme, while working to bring out the generative force of zoe – life beyond the ego-bound human” (Rosi Braidotti)</p>
<p>Agenciamiento relacional (?) Libre arbitre relatif Livre arbítrio relacional (?) Relational Agency Relațional Arbitru Relationales Handeln (agency = act?) Σχεσιακή Δυνατότητα Δράσης “Agency is not held, it is not a property of persons or things; rather, agency is an enactment, a matter of possibilities for reconfiguring entanglements.” (Lauren Berlant)</p>
<p>Ahnenhafte Netzwerke Ancestral Networks Redes Ancestrais Redes Ancestrales Réseaux Ancestraux Rețea Ancestrală Reti Ataviche Vooroudernetwerken Προγονικά Δίκτυα “Networks that have life in the center” (Tatiana)</p>
<p>Alianțe Încurcate Alianzas incómodas Ongemakkelijke Samenwerkingsverbanden Unbehagliche Bündnisse Uneasy Alliances Ανήσυχες Συμμαχίες</p>
<p>Also-Spaces Auch-Räume Ook-Ruimtes Χώροι-Επίσης (Reinaart Vanhoe)</p>
<p>Ambitieuze Ambivalentie Ambivalence ambitieuse Ambivalencia Aspiracional Ambivalență Pretențioasă Aspirational Ambivalence Διφορούμενη Φιλοδοξία See: Affective Infrastructures (Lauren Berlant)</p>
<p>Ambivalente Precariteit Ambivalente Prekarität Ambivalent Precarity Precariedad Ambivalente Precariedade Ambivalente Precaritate Ambivalentă Précarité ambivalente Διφορούμενη Αβεβαιότητα “Precarity is ambivalent, because we are always dependent on other people, from the begining, but other people can also harm us, so we need an understanding of ethics to cope with this ambivalence.” (Judith Butler)</p>
<p>And-And-Networks En-En-Netwerken Rețele Și-Și Y Y Redes</p>
<p>A Rămâne cu Neajunsul Blijvend met problemen / Bij de problemen blijven Permanecer Con la</p>


</div>
