<div class="panel">
    <div class="panel__toggle">
        <span class="toggle__label js-toggle" data-target="keywords">keywords</span>
        <span class="toggle__label js-toggle" data-target="help">help</span>
        <span class="toggle__label js-toggle" data-target="create">create</span>
        <a class="toggle__label" rel="noopener noreferrer" target="_blank" href="https://webchat.freenode.net/?nick=foo&channels=apass">chat</a>
    </div>

    <div class="panel__main">
        <div class="panel__section panel__section--keywords">
            {% include '@organisms/keyword_list.twig' %}
        </div>

        <div class="panel__section panel__section--help">
            {% include '@organisms/documentation.twig' %}
        </div>

        <div class="panel__section panel__section--create">
            {% include '@organisms/forms/create.twig' %}
        </div>
    </div>
</div>
