<div class="switch">
    <span class="switch__label">sort by</span><br/>
    <ul class="switch__modes">
        <li class="switch__mode {% if mode == "date" %}active{% endif %}"><a href="#">date</a></li>
        <li class="switch__mode {% if mode == "author" %}active{% endif %}"><a href="#">author</a></li>
        <li class="switch__mode {% if mode == "title" %}active{% endif %}"><a href="#">title</a></li>
        <li class="switch__mode {% if mode == "type" %}active{% endif %}"><a href="#">type</a></li>
    </ul>
</div>
