<nav class="toolbar">
    <ul class="toolbar__menu menu">
        <li class="menu__item active">read</li>
        <li class="menu__item">write</li>
        <li class="menu__item">print</li>
    </ul>
</nav>
