<ul class="main-nav">
    {% if user.is_authenticated %}
        <li class="main-nav__item"><a href="{{ routes.login }}" class="main-nav__link">Logout&nbsp;{{ user.full_name }}</a></li>
        <li class="main-nav__item"><a href="{{ routes.padManage }}" class="main-nav__link">Manage</a></li>
    {% else %}
        <li class="main-nav__item"><a href="{{ routes.login }}" class="main-nav__link">Login</a></li>
    {% endif %}
</ul>
