{% extends '@templates/base.twig' %}

{% block content %}
    <div class="form-wrapper">
        <h1>Delete pad?</h1>
        <p>Do you really want to delete pad "{{ title }}"?</p>

        <form class="form" action="" method="post">
            <div class="input-group">
                {% include '@atoms/button.twig' with {title: "yes"}%}
                {% include '@atoms/button.twig' with {title: "no"}%}
            </div>
        </form>
    </div>
{% endblock %}
