{% extends '@templates/base.twig' %}

{% block content %}
    <div class="form-wrapper">
        <h1>Rename pad</h1>
        <p>Old pad name: "{{ title }}"</p>

        <form action="" method="post">
            {% include '@molecules/input_group.twig' with {name: "pad_name", title: "New pad name", type: "text"} %}

            <div class="input-group">
                {% include '@atoms/button.twig' with {title: "rename"}%}
                {% include '@atoms/button.twig' with {title: "cancel"}%}
            </div>
        </form>
    </div>
{% endblock %}
