{% extends '@templates/base.twig' %}


{% block content %}
    <div class="foo">
        <div class="bar">
            <ol class="breadcrumb">
                <li class="breadcrumb__item"><a class="breadcrumb__link" href="{{ routes.padManage }}">Root</a></li>
                {% for name, path in crumbs %}
                    {% if path %}
                        <li class="breadcrumb__item"><a class="breadcrumb__link" href="{{ routes.padManage }}">{{ name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>

        <div class="baz">
            <ul class="manage_list">
                {% for folder in folders %}
                    {% include '@organisms/manage/manage_pad_folder.twig' %}
                {% endfor %}

                {% for pad in pads %}
                    {% include '@organisms/manage/manage_pad.twig' %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
