{% extends '@templates/base.twig' %}

{% block content %}
    <div class="foo">
        <div class="bar">
            <div class="switch-group switch-group--right">
                {% include '@organisms/modes.twig' with {mode: "read"} %}
            </div>
        </div>

        <div class="baz">
            <article class="article">    
                <div class="article__wrapper">
                    {% include '@organisms/article_header.twig' %}

                    {{ text|raw }}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
