{% extends '@templates/base.twig' %}

{% block content %}
    <div class="foo">
        <div class="bar">
            <div class="switch-group switch-group--right">
                {% include '@organisms/modes.twig' with {mode: "write"} %}
            </div>
        </div>

        <div class="baz">
            <iframe src="{{ link }}?showChat=false&username={{ uname }}" frameBorder="0" class="etherpad"></iframe>
        </div>
    </div>

{% endblock %}
