<article class="article_entry {% for type in text.types %} article_entry--{{ type }}{% endfor %}" data-keyword="{{ random(['attached', 'atune', 'Arlon%20Bader']) }}" style="background-image: {% for gif in text.gifs %}url('{{ gif }}'){% if not loop.last %}, {% endif %}{% endfor %}; background-position: {% for gif in text.gifs %}{{random(100)}}%   {{random(100)}}%{% if not loop.last %}, {% endif %}{% endfor %};">
    <header>
        <p class="article_entry__path">{{ text.path }}</p>
        <h1 class="article_entry__title"><a href="{{ routes.padRead }}">{{ text.title }}</a></h1>
        <div class="article_entry_date_authors">
            <span class="article_entry__date">{{ text.pub_date|date("d.m.Y") }} &mdash;</span>
            <ul class="article_entry__authors">
                {% for author in text.authors %}<li class="article_entry__author">{{ author }}</li>{% endfor %}
            </ul>
        </div>
        <ul class="article_entry__types">
            {% for type in text.types %}<li class="article_entry__type">{{ type }}</li>{% endfor %}
        </ul>
    </header>
</article>
