<div class="input-group{% if error %} input-group--error{% endif %}">
    {% include '@atoms/label.twig' %}
    {% include '@atoms/input.twig' %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>
