<div class="page__wrapper">
    <div class="page__header">
        {% include '@organisms/header.twig' %}
    </div>

    <main class="page__main">
        <div class="page__content">
            {% block content %}{% endblock %}
        </div>

        <aside class="page__panel">
            {% include '@organisms/sidebar.twig' %}
        </aside>
    </main>
</div>
