<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../css/reset.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/fonts.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="screen" />
    <link rel="stylesheet" href="../../css/print.css?{{ cacheBuster }}" media="print" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="page">
